{
  "vendorName": "binance",
  "vendorAPIKey": "",
  "vendorAPISecret": "",
  "bitoproAPIKey": "",
  "bitoproAPISecret": "",
  "bitoproEmail": "",
  "bitoproPair": "eth_usdt",
  "vendorPair": "ETH/USDT",
  "openOrderProfitPercentThreshold": 0.5,
  "maxValuePerArbitrage": 50
}
